/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: 'Open Sans', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.float-left {
  float: left;
  /* width: 200px; */
}
.float-right {
  float: right;
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  border: 2px solid rgb(255, 143, 115);
  border-radius: 5px;
  color:rgb(255, 255, 255);
}
/* INTESTAZIONE */
header {
  height: 600px;
  background-color: yellow;
}
 /* navbar */
.header-top {
  height: 120px;
  background-color: green;
}
.nav-top {
  height: 50%;
  background-color: rgb(223, 238, 240);
  border-bottom: 2px solid rgb(203, 214, 226);
}
.nav-top::after {
  content: '';
  display: table;
  clear: both;
}
.nav-top ul {
  list-style: none;
}
.nav-top ul li {
  display: inline;
  line-height: 59.5px;
  margin-left: 10px;
}
.float-left.nav-top-left ul li:first-child {
  padding-right: 15px;
  border-right: 2px solid rgb(203, 214, 226);
}
.float-left.nav-top-left ul li {
  color: rgb(51, 71, 91);
}


.button.log-in-button {
  margin: 0 15px;
  padding: 8px;
  background-color: white;
  color: rgb(255, 143, 115);
}
.button.gethub-button {
  padding: 8px;
  background-color: rgb(255, 143, 115);
}


















.nav-bottom {
  height: 50%;
  background-color: rgb(92, 50, 7);
}
.nav-bottom::after {
  content: '';
  display: table;
  clear: both;
}

/* /fine navbar */

.header-center {
  height: 400px;
}

.header-bottom {
  height: 80px;
  background-color: purple;
}

/* CORPO CENTRALE */
main {
  height: 1500px;
  background-color: red;
}

.main-content-top {
  height: 900px;
  background-color: grey;
}

.main-content-center {
  height: 300px;
  background-color: brown;
}

.main-content-bottom {
  height: 300px;
  background-color: lightblue;
}

/* FINE PAGINA */
footer {
  height: 600px;
  background-color: orange;
}
