/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: 'Open Sans', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.float-left {
  float: left;
  /* width: 200px; */
}
.float-right {
  float: right;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  border: 2px solid rgb(255, 143, 115);
  border-radius: 5px;
  color:rgb(255, 255, 255);
}
/* INTESTAZIONE */
header {
  height: 600px;
}
 /* navbar */
.nav-top {
  background-color: rgb(234, 244, 245);
  border-bottom: 2px solid rgb(203, 214, 226);
}
.nav-top::after {
  content: '';
  display: table;
  clear: both;
}

.nav-top ul li {
  display: inline;
  line-height: 60px;
  margin-left: 10px;
  font-size: 13px;
  color: rgb(51, 71, 91);
}
.float-left.nav-top-left ul li:first-child {
  padding-right: 15px;
  border-right: 2px solid rgb(203, 214, 226);
}

.button.log-in-button {
  margin: 0 15px;
  padding: 8px;
  background-color: white;
  color: rgb(255, 143, 115);
  cursor: pointer;
}
.button.gethub-button {
  padding: 8px;
  background-color: rgb(255, 143, 115);
  cursor: pointer;
  color: white;
}
.button.log-in-button:hover,
.button.log-in-button:active,
.button.log-in-button:focus {
  background-color: rgba(249, 234, 215, 0.94);
}
.button.gethub-button:hover,
.button.gethub-button:active,
.button.gethub-button:focus {
  background-color: rgba(251, 226, 226, 0.9);
}
.nav-bottom {
  background-color: rgb(255, 255, 255);
}
.nav-bottom::after {
  content: '';
  display: table;
  clear: both;
}

.logo-container.container img {
  margin: 17px 0;
}
.nav-bottom ul li {
  display: inline;
  line-height: 60px;
  margin-left: 10px;
  font-size: 13px;
  color: rgb(51, 71, 91);
}
/* /fine navbar */

.header-center {
  height: 400px;
  background-image: url(../img/jumbotron.png);
}
.jumbotron-title {
  width: 40%;
  padding-top: 40px;
  color:rgb(51, 71, 91);
}
.title {
  font-size: 40px;
}
.jumbotron-title p {
  line-height: 25px;
  font-size: 13px;
  margin: 30px 0;
}

span.button.gethub-button a {
  font-size: 12px;
}

























.header-bottom {
  height: 80px;
  background-color: purple;
}

/* CORPO CENTRALE */
main {
  height: 1500px;
  background-color: red;
}

.main-content-top {
  height: 900px;
  background-color: grey;
}

.main-content-center {
  height: 300px;
  background-color: brown;
}

.main-content-bottom {
  height: 300px;
  background-color: lightblue;
}

/* FINE PAGINA */
footer {
  height: 600px;
  background-color: orange;
}
