/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: ;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.float-left {
  float: left;
  width: 200px;
  /* height: 100%; */
  background-color: blue;
}
.float-right {
  float: right;
  width: 200px;
  height: 100%;
  background-color: rgb(245, 170, 153);
}

/* INTESTAZIONE */
header {
  height: 600px;
  background-color: yellow;
}
 /* navbar */
.header-top {
  height: 120px;
  background-color: green;
}
.nav-top {
  height: 50%;
  background-color: rgb(67, 224, 212);
  border-bottom: 1px solid black;
}
.nav-top::after {
  content: '';
  display: table;
  clear: both;
}
.float-left.nav-top-left ul {
  list-style: none;
}
.float-left.nav-top-left ul li {
  display: inline;
  line-height: 59.5px;
  margin-left: 10px;
}

.nav-bottom {
  height: 50%;
  background-color: rgb(92, 50, 7);
}
.nav-bottom::after {
  content: '';
  display: table;
  clear: both;
}

/* /fine navbar */

.header-center {
  height: 400px;
}

.header-bottom {
  height: 80px;
  background-color: purple;
}

/* CORPO CENTRALE */
main {
  height: 1500px;
  background-color: red;
}

.main-content-top {
  height: 900px;
  background-color: grey;
}

.main-content-center {
  height: 300px;
  background-color: brown;
}

.main-content-bottom {
  height: 300px;
  background-color: lightblue;
}

/* FINE PAGINA */
footer {
  height: 600px;
  background-color: orange;
}
